<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeuristicLab.RuntimePrediction.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HeuristicLab.RuntimePrediction.Config>
            <setting name="RawDataPath" serializeAs="String">
                <value>..\..\..\..\data/rawdata</value>
            </setting>
            <setting name="ExperimentPath" serializeAs="String">
                <value>..\..\..\..\Experimente\ParameterAnalyse</value>
            </setting>
        </HeuristicLab.RuntimePrediction.Config>
    </userSettings>
</configuration>